@import url('style.css');
@import url('flexblog.css');

.container{
  display:grid;
  width: 100%;
  height:250px;
  grid-template-areas: 
  "head head"
  "nav main"
  "foot foot";
  grid-template-columns:1fr 3fr;
  grid-template-rows:200px 1fr;

}
.heading{
grid-area:head;
  
 }
.sidebar{
 
  grid-area:nav;
  
}
.content{
    grid-area:main;
  }
.footer{
   grid-area: foot; 
}

@media only screen and (max-width:600px) {
  .container{
  grid-template-areas:
        "head"
        "nav"
        "main"
        "foot";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align:center;
}
}

@media only screen and (max-width:768px) {
  .container{
  grid-template-areas:
        "head"
        "nav"
        "main"
        "foot";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align:center;
}
}